/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
    text-decoration: none;
}

header {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background:
        /* transparent black https://www.eggradients.com/category/black-gradient */
        linear-gradient(147deg, #000000 0%, #434343 74%), url(../images/old_couple.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: saturation;
    background-position: bottom;
    height: 50vh;
    text-align: center;
    letter-spacing: 0.16em;
}

header a {
    color: white;
    text-shadow: 1.8px 1.8px #000000;
}

header nav ul {
    display: flex;
    justify-content: flex-end; 
    flex-direction: row; /* tekst aan het einde gepositioneerd */
    font-size: 1em;
    border-bottom: 1.2px solid white;
}

li {
    margin-right: 2em;
    color: white;
}

a:hover {
    color: goldenrod; /* bij een hover krijgt het een kleur goldenrod */
    transition: .3s ease-in;
}

body {
    border: 10px solid white; 
}

article p {
    text-indent: 1em; /* Eerste regel van de p niet gelinieerd (voor aesthetics)  */
    line-height: 1.5em;
}

p::first-line {
    font-weight: bold;
}

h1,
h2 {
    display: flex;
    justify-content: center;
    display: grid;
    grid-column-start: 1;
    grid-column-end: -1;
    text-shadow:
        0 0 0.005em goldenrod,
        0 0 0.05em goldenrod,
        0 0 0.1em goldenrod;
}

h3 {
    color: goldenrod;
    text-shadow: .1em .1em 0 rgba(0, 0, 0, .75);
    transform: skewY(-4.9deg);
}

img {
    width: 100%;
}

button {
    padding: 1em;
    margin-top: 4rem;
    margin-bottom: 5rem;
    font-size: 1.1em;
    font-weight: 700;
    /* Toggle transparent background bron https://www.eggradients.com/gradient/bad-memory */
    background-image: linear-gradient(315deg, #aff6cf 0%, #9f98e8 74%);
    background-size: 200% 200%;
    border: none;
    border-radius: .5em;
    cursor: pointer;
     /* Animeren 7e Werkgroep */
    animation-name: color-animation;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


button:hover {
    font-size: 1.5em;
    border-radius: 2em;
    transition: .3s ease-in;
}

@keyframes color-animation {
    0% {
        background-position: right bottom;
    }

    100% {
        background-position: left top;
    }
}

.hide {
    width: 10rem;
    opacity: 0;
    /*--- Maakt het niet zichtbaar ---*/
}

footer {
    display: flex;
    justify-content: center;
    background-color: black;
    height: 20vh;
    color: white;
    flex-direction: column; /* tekst komt onder elkaar te staan */
    align-items: center;
}

h4 {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

section {
    background: url(../images/banner1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-column-start: 1;
    grid-column-end: -1;
    background-color: beige;
    width: 100%;
    height: 100vh;
}

.mediafooter {
    display: flex;
    grid-gap: 2em;
    justify-content: space-around;
    list-style-type: none;
    height: 4em;
    width: 4em;
}

/* bron: https://css-tricks.com/snippets/css/scale-on-hover-with-webkit-transition/ */

.mediafooter:hover {
    transition: .2s ease-in;
    transform: scale(0.8);
}

/*--- Media querie Mobiel - Schermen onder de 767px ---*/
@media (max-width: 767px) {
    header nav ul {
        display: block;
        flex-direction: column;
        list-style-type: none;
        font-size: 2.5em;
    }


    main {
        font-family: 'Montserrat', sans-serif;
        display: grid;
        grid-template-columns: 1fr;
        /*--- 1 colum ---*/
        grid-gap: 1em;
    }

    h1 {
        font-size: 1.4em;
    }

    .mediafooter {
        display: flex;
        grid-gap: 2em;
        justify-content: space-around;
        list-style-type: none;
        height: 2em;
        width: 2em;
    }
}


/*--- Media querie Ipad - Schermen boven de 768px ---*/
@media (min-width: 768px) {
    header nav ul {
        display: flex;
        justify-content: flex-end;
        font-size: 1em;
        border-bottom: 1.2px solid white;
    }


    h1 {
        font-size: 2.5em;
    }

    main {
        font-family: 'Montserrat', sans-serif;
        display: grid;
        grid-template-columns: 1fr 1fr;
        /*--- 2 columns ---*/
        grid-gap: 1em;
    }
}

/*--- Media querie Desktop - Schermen boven de 1000px ---*/
@media (min-width: 1000px) {
    header nav ul {
        display: flex;
        justify-content: flex-end;
        font-size: 1em;
        border-bottom: 1.2px solid white;
    }

    h1 {
        font-size: 4em;
    }

    main {
        font-family: 'Montserrat', sans-serif;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        /*--- 3 columns ---*/
        grid-gap: 1em;
    }
}
